<table class="table table-bordered">
    <thead>
        <tr class="text-center align-middle">
            <th>Nom de la compétence</th>
            <th>Type de la compétence</th>
            <th>Niveau de maitrise</th>
            <th>Icones</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        {% for skill in skills %}
            <tr class="text-center align-middle">
                <td>{{ skill.name }}</td>
                <td>{{ skill.type }}</td>
                <td>{{ skill.level }}</td>
                <td><span class="thumb__skill">{{ skill.icons | raw }}</span></td>
                <td>
                    <a href="{{ path('ADMIN_SKILLS_EDIT', {id: skill.id}) }}" class="btn btn-primary">Modifier</a>
                    <form action="{{ path('ADMIN_SKILLS_DELETE', {id: skill.id }) }}" method="post">
                        <input type="hidden" name="_method" value="DELETE" />
                        <input type="hidden" name="token" value="{{ csrf_token('skill-delete') }}">
                        <button type="submit" class="btn btn-danger">supprimer</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>