<table class="table table-bordered m-0">
    <thead>
        <tr class="text-center align-middle">
            <th>Nom de la compétence</th>
            <th>Type de la compétence</th>
            <th>Niveau de maitrise</th>
            <th>Icones</th>
            {% if actions|length > 0 %}
                <th>Actions</th>
            {% endif %}
        </tr>
    </thead>

    <tbody>
        {% for item in data %}
            <tr data-id="{{ item.id }}" class="text-center align-middle">
                <td>{{ item.name }}</td>
                <td>{{ item.type }}</td>
                <td>{{ item.level }}</td>
                <td><span class="thumb__skill">{{ item.icons | raw }}</span></td>

                {% if actions|length > 0 %}
                    <td class="actions">
                        {% if actions.edit is defined %}
                            <a href="{{ path(actions.edit, {id: item.id}) }}" class="btn btn-primary">
                                <i class="bi bi-pencil-fill" role="img" aria-label="Modifier un élément"></i>
                            </a>
                        {% endif %}

                        {% if actions.delete is defined %}
                            <crud-action-delete url_action="{{ path(actions.delete, {id: item.id}) }}" element_id="{{ item.id }}" token="{{ csrf_token('item-delete') }}"></crud-action-delete>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>