{% block section_skills %}
    <div id="skills" class="skills">
        <h1 class="section__title">Compétences</h1>
        <p class="section__details">Présentation de mes compétences</p>


        {% for type, data in skills %}
            <h3>{{ type }}</h3>
            <div class="skills__container reveal">
                {% set reveal = 1 %}
                {% for skill in data %}
                    <div class="skill reveal-{{ reveal }}">
                        <div class="skill__notes">
                            {{ notes(skill.level) }}
                        </div>

                        <div class="skill__svg">
                            {{ skill.icons | raw }}
                        </div>

                        <div class="skill__name">
                            {{ skill.name }}
                        </div>
                    </div>
                    {% set reveal = reveal + 1 %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}