{% extends 'admin.html.twig' %}

{% block title %}Ajouter un projet{% endblock %}

{% block content %}

    <div class="container-fluid">
        <h1>Ajouter un projet</h1>

        {{ form_start(form) }}
        <div class="row p-3">

            <div class="col-md-3">
                <div class="p-3 bg-white rounded-3 border shadow-sm">
                    {{ form_row(form.title) }}
                    {{ form_row(form.url) }}
                    {{ form_row(form.thumb) }}
                </div>
            </div>

            <div class="col-md-9">
                <div class="p-3 bg-white rounded-3 border shadow-sm">
                    {{ form_row(form.details) }}
                    {{ form_row(form.excerpt) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.submit) }}
                </div>
            </div>
        </div>

        {{ form_end(form) }}
    </div>

{% endblock %}