{% extends 'admin.html.twig' %}
{% block body %}
    <main class="page page-admin_skills" xmlns="http://www.w3.org/1999/html">
        <div class="section">
            <div class="container">
                <h1>Administrer les compétences</h1>

                <modal-dialog modal_title="Créer la compétence" button_text="Ajouter une compétence">
                    <form-add-skill></form-add-skill>
                </modal-dialog>
                <table>
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Level</th>
                            <th>Type</th>
                            <th>Icons</th>
                        </tr>
                    </thead>

                    <tbody>
                    {%  for skill in skills %}
                        <tr>
                            <td>
                                <editable-item
                                        label_id="name"
                                        label="Modifier le nom"
                                        type="type"
                                        value_type="text"
                                        content="{{ skill.name }}"
                                        url_action="{{ path('ADMIN_SKILLS_UPDATE', {id: skill.id}) }}"
                                        input_placeholder="Entrée le nom de la compétence" field="name"
                                        classname="form-control"></editable-item>
                            </td>
                            <td>
                                <editable-item
                                        label_id="level"
                                        label="Modifier le niveau de votre compétence"
                                        content="{{ skill.level }}"
                                        url_action="{{ path('ADMIN_SKILLS_UPDATE', {id: skill.id}) }}"
                                        input_placeholder="Saisissez le niveau de compétence"
                                        field="level"
                                        classname="form-control"></editable-item>
                            </td>
                            <td>
                                <editable-item
                                        label_id="type"
                                        label="Modifier le type de votre compétences"
                                        content="{{ skill.type }}"
                                        url_action="{{ path('ADMIN_SKILLS_UPDATE', {id: skill.id}) }}"
                                        input_placeholder="Type de compétence"
                                        field="type"
                                        classname="form-control"></editable-item>
                            </td>
                            <td>
                                <editable-item
                                        label_id="icons"
                                        label="Modifier l'icon de votre compétence"
                                        type="textarea"
                                        content="{{ skill.icons }}"
                                        url_action="{{ path('ADMIN_SKILLS_UPDATE', {id: skill.id}) }}"
                                        input_placeholder="Modifier l'icon"
                                        field="icons"
                                        classname="form-control">
                                </editable-item>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
{% endblock %}