{% extends 'base.html.twig' %}

{% block title %}Me Contactez{% endblock %}

{% block body %}
    <main class="page page-home">
        <div class="section">
            <div class="container">
                <h1>Me contactez</h1>
                <p>{{ contact_text.content }}</p>

                <div class="contact__form">
                    {{ form_start(form) }}
                        <div class="form-row">
                            {{ form_row(form.fullname) }}
                            {{ form_row(form.email) }}
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </main>
{% endblock %}