<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('ADMIN_DASHBOARD') }}">Dashboard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {{ name is defined and name == 'skill' ? 'active' : ''  }}" aria-current="page" href="{{ path('ADMIN_SKILLS_HOME') }}">Compétences</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {{ name is defined and name == 'users' ? 'active' : ''  }}" href="{{ path('ADMIN_USERS_HOME') }}">Utilisateurs</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {{ name is defined and name == 'configuration' ? 'active' : ''  }}" href="{{ path('ADMIN_CONFIGURATION_HOME') }}">Configuration</a>
                </li>
            </ul>
        </div>
    </div>
</nav>